a
  color: #00B7FF

.navbar-custom
  background-color #009688
  color #ffffff
  border-radius 0
  .navbar-nav
    & > li
      & > a
        color #fff
  .navbar-brand
    color #eeeeee

.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus
  color #ffffff
  background-color transparent

.navbar-custom-text
  color #ffffff !important