extends ../layout

block content
    if editing
        h3 Editing a Class...
    else
        h3 Registering a New Class...

    br

    form(method='post')
        div.form-group
            label(for='name') Name
            if editing
                input(type='text', name='name', autocomplete='off', value='#{Class.name}')#name.form-control
            else
                input(type='text', name='name', autocomplete='off')#name.form-control
        div.form-group
            label(for='teacher') Teacher
            if editing
                input(type='text', name='teacher', autocomplete='off', value='#{Class.teacher}')#teacher.form-control
            else
                input(type='text', name='teacher', autocomplete='off')#teacher.form-control
        div.form-group
            label(for='color') Color
            select(name='color').form-control
                option(value='danger') Red
                option(value='success') Green
                option(value='info') Blue
                option(value='warning') Yellow

            br

            if editing
                button(type='submit').btn.btn-primary Submit Changes
            else
                button(type='submit').btn.btn-success Create!