extends ../layout

block content
    h3 Registering a New Class...

    br

    form(method='post')
        div.form-group
            label(for='name') Name
            input(type='text', name='name')#name.form-control
        div.form-group
            label(for='teacher') Teacher
            input(type='text', name='teacher')#teacher.form-control

            br
            button(type='submit').btn.btn-success Create!